@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.content {
  width: 100%;
  margin: 40px auto;
  padding: 20px;
}

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
